
#info-block section {
	border: 2px solid black;
}

.file-marker>div {
	margin-top: -0.8em;
}

.box-title {
	background: white none repeat scroll 0 0;
	display: inline-block;
	padding: 0 2px;
	margin-left: 3em;
}